<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
	<div class="container">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <img src="../../assets/home-24px.svg" height="40" alt="" srcset=""> <span>Apps</span>Market</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Service Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Why Us</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Our Goals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Client</a>
      </li> 

    </ul>
  </div>
	</div>
</nav>

<div class="banner">
	<div class="container">
	<div class="banner-text">
	<div class="banner-heading">
	Glad to see you here !
	</div>
	<div class="banner-sub-heading">
	Here goes the secondary heading on hero banner
	</div>
	<button type="button" class="btn btn-warning text-dark btn-banner">Get started</button>
	</div>
	</div>
</div>
<section id="about">
<div class="container">
	<div class="text-intro">
	<h2>We Provide various kind of <br> servies for you</h2>
		<p class="p1">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
	</div>
</div>
</section><br><br><br><br><br>