<br>
<div class="row">
  <div class="col-sm-6 col-md-3 offset-md-2 col-lg-2 offset-lg-1">
    <img src="../../assets/img3.png" alt="" srcset="" style="float: left;height: 50px;width: 50px;">
    <p style="text-align: left;
    font: normal normal medium 24px/35px Poppins;
    letter-spacing: 0px;
    color: #1453FF;"> 100+ <br> Projects Complete
    </p>

  </div>
  <div class="col-sm-6 col-md-5 offset-md-2 col-lg-2 offset-lg-1">
    <img src="../../assets/img4.png" alt="" srcset="" style="float: left;height: 50px;width: 50px;">
    <p style="text-align: left;
    font: normal normal medium 24px/35px Poppins;
    letter-spacing: 0px;
    color: #1453FF;"> 100+ <br> Active Projects
    </p>
  </div>
  <div class="col-sm-6 col-md-5 offset-md-2 col-lg-2 offset-lg-1">
    <img src="../../assets/img5.png" alt="" srcset="" style="float: left;height: 50px;width: 50px;">
    <p style="text-align: left;
    font: normal normal medium 24px/35px Poppins;
    letter-spacing: 0px;
    color: #1453FF;"> 90+ <br> Client Satisfied
    </p>
  </div>
  <div class="col-sm-6 col-md-5 offset-md-2 col-lg-2 offset-lg-1">
    <img src="../../assets/img6.png" alt="" srcset="" style="float: left;height: 50px;width: 50px;">
    <p style="text-align: left;
    font: normal normal medium 24px/35px Poppins;
    letter-spacing: 0px;
    color: #1453FF;"> 56+ <br> Country Available
    </p>
  </div>
</div>









<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-3 ">
      <img src="../../assets/iPhone X - Light.png" alt="" srcset="" style="height: 500px;">
    </div>
    <div class="col-sm-6 col-md-5  col-lg-3">
      <img src="../../assets/iPhone X - Light@2x.png" alt="" srcset="" style="height: 500px;">

    </div>
    <div class="col-sm-6 col-md-5  col-lg-3">
      <img src="../../assets/iPhone X - Light-1.png" alt="" srcset="" style="height: 500px;">

    </div>
    <div class="col-sm-6 col-md-5  col-lg-3" style="height: 500px;">
      <img src="../../assets/iPhone X - Light-1.png" alt="" srcset="" style="height: 500px;">

    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 ">
      <b style="font-size: 30px;">Our Clients Feed back</b>
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its layout. The point of using Lorem Ipsum is
      </p>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 ">
      <button style="float: right;background: #F3F3F3;border-radius: 16px no-repeat padding-box;">Read More </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-3 " style="background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;">
      <img src="../../assets/photography-of-a-guy-wearing-green-shirt-1222271.png" alt="" srcset="" height="300" style="
      
      ">
    </div>

    <div class="col-sm-12 col-lg-9 " style="background: #EFEFFE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;">
      <section style="margin-left: 40px;">
        <img src="../../assets//grade-24px (1).svg" alt="" srcset="">
        <img src="../../assets//grade-24px (1).svg" alt="" srcset="">
        <img src="../../assets//grade-24px (1).svg" alt="" srcset="">
        <img src="../../assets//grade-24px (1).svg" alt="" srcset="">
        <img src="../../assets//grade-24px (1).svg" alt="" srcset="">

      </section>
      <section style="
             margin-top:20px;
             margin-left:40px;
             text-align: left;
      font: normal normal normal 15px/22px Poppins;
      letter-spacing: -0.48px;
      color: #222D39;
      left: 802px;
      width: 595px;
      height: 136px;">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo modi tem."
      </section>
      
      <section style=" margin-top:20px;
      margin-left:40px;
      text-align: left;
     ">
        riad isalm <br>
        product manager. @pixbay
      </section>


    </div>
  </div><br><br>

  <div style="
       top: 5000px;
       left: 600px;
       right:600px ;
       width: 1000px;
       height: 200px;
       background: #333697 0% 0% no-repeat padding-box;
       border-radius: 16px;
       opacity: 1;">
   <h3 style="
      color:#EFEFFE; 
      margin-top: 100px ;
      margin-bottom: 200px; 
      margin-left: 30px;" >
      Contact Us!
    <p>there are many variations of passages of lorem ipsum but the majarity have suffered alteration</p> </h3>
   
 </div>


</div>

