<div class="container-fluid">
  <div class="row">
    <div class="col" style="background-color: white;margin-right: 1px;">
      <div class="row">
        <div class="col">
          <section class="section2img"></section>
        </div>
        <div class="col">
          <img src="../../assets/img2.png" alt="" srcset="">
        </div>
      </div>
    </div>
    <div class="col" style="background-color: #EBEBF8y;margin-right: 1px; ">
      <h3 style="margin-left: 25px;">Built The App That <br> Everyone Love.</h3>
      <div style="
      text-align: left;
      font: normal normal normal 20px/20px Roboto
      letter-spacing: 0px;">
        It is a long established fact that a reader will be distracted by the readable content of a page when
        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters,
      </div>
    </div>
  </div>
</div>